body {
    background: #1f1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 3em;
    font-style: oblique;
}

.playGame {
    background: #fff;
    border: 2px solid white;
    font-size: 1em;
    border-radius: 25px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 80px;
}

.computerBoard, .playerBoard {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 0;
}

.board {
    background: #fff;
    border: 1px solid rgb(100, 100, 247);
    height: 30px;
    width: 30px;
}

.board:hover {
    cursor: pointer;
}

.computerBoard > .shipCell {
    background: rgb(138, 138, 218);
}

.playerBoard > .shipCell {
    background: rgb(255, 255, 255); /* make computer ships invis */
}

.hitCell {
    background: rgb(88, 88, 88);
}

.missCell {
    background: rgb(163, 97, 97);
}

.computerShip {
    background: #996868;
}

.message {
    padding-top: 26px;
    font-size: 1.5em;
    color: #fff;
}



